* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-size: 30px;
  padding-top: 100px;
}

.row {
  margin: 0;
  padding: 0;
  text-align: center;
}

.button {
  background-color: #eee;
  border: solid 1px black;
  display: inline-block;
  font-size: 30px;
  margin: 0;
  height: 100px;
  padding: 0;
  width: 100px;
}

.button:active {
  background-color: #555;
}
